.imgfluid {
  width: 100% !important;
  max-height: 400px !important;
  object-fit: cover !important;
}

.pointer{
  cursor: pointer;
}

@media screen and (max-width:600px){
  .truncateOnWidth {
    max-width: 330px;
  }
  
}
