.imgfluid {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover !important;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.cardBorderRadius{
border-radius: 9px;
}

.pointer{
  cursor: pointer;
}

@media screen and (max-width:780px){

  .imgfluid{
  width: 100% !important;
  height: 400px !important;
  object-fit: cover !important;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  }
  
}
