html,body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
  background-color:#121212 !important;
  color: whitesmoke !important;
}

.greyColor { 
  background-color: #333131 !important; 

}

.cardBorderRadius{
  border-radius: 9px;
  }
