html,body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
  background-color:#1b1818 !important;
  color: whitesmoke !important;
}

.headerDarkColor { 
  background-color: black !important;  
  /* // #1b1818 */
}